.container {
  display: block;
  border-radius: 8px;
  overflow-x: hidden;
  box-shadow: 0 1px 2px 3px #80808010;
  background: linear-gradient(20deg, magenta, blueviolet) no-repeat;
  background-size: cover;
  color: whitesmoke;

  .shift {
    height: 200px;
  }

  & > *:last-child {
    padding-top: 6px;
    background: linear-gradient(0deg, black, #000000f0, transparent);
  }

  p {
    padding: 4px 0.5rem;
    font-size: large;
    font-weight: 500;
    text-align: left;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    margin: 0 4px;
    overflow-x: hidden;
  }

  .likesNDate {
    display: flex;
    align-items: center;
  }
}
