.banner {
  height: 350px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  .bgDecor {
    top: 0;
    left: 0;
    right: 0;
    height: calc(50% + 75px);
    position: absolute;
    background: var(--gradient-bg);
  }

  img {
    top: 50%;
    position: absolute;
    z-index: 1;
    background-color: #777f86;
    border-radius: 50%;
  }
}

.name,
.bio {
  margin-bottom: 1rem;
  text-align: center;
}

.bio {
  width: clamp(280px, 100%, 800px);
  line-height: 1.3rem;
}

.posts {
  margin: 1rem 0;
  width: clamp(280px, 100%, 1000px);

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: max-content;
    margin: 2rem 0;
  }
}
