.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
