$container-w: clamp(300px, 100vw, 1024px);

.blogView {
  padding: 1rem 1.5rem;
  width: $container-w;

  .coverImage {
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
  }
}

.comments {
  display: grid;
  width: $container-w;
  padding: 1rem;
  width: clamp(280px, 100%, 800px);

  h1 {
    margin: 1rem 0;
    text-align: center;
  }

  .comment {
    padding: 0.5rem 1rem;
    background-color: #80808020;
    border-radius: 12px;

    h2,
    p {
      margin: 0;
    }

    h2 {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}
