* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color 0.65s ease-in-out;

  &[role="button"] {
    cursor: pointer;
  }
}

:root {
  font-family: monospace;
}

body {
  --navbar-offset: 80px;

  --bgcolor: whitesmoke;
  --fgcolor: #202020;
  --accent-light: #bc93e1;
  --accent-main: #8a2be2;
  --accent-dark: #6a22ae;
  --footerbg: #e5caff;
  --errorbg: #f2d9d9;
  --successbg: #d9f2df;

  --gradient-bg: linear-gradient(20deg, #8a2be2, black);
  --home-gradient-bg: linear-gradient(20deg, whitesmoke, #fcf5ff, whitesmoke);

  .logo-dark {
    display: none;
  }
  .logo-light {
    display: unset;
  }

  &[data-theme-dark] {
    color-scheme: dark;
    --bgcolor: #202020;
    --fgcolor: whitesmoke;
    --accent-light: #e5c9ff;
    --accent-main: #c78cff;
    --accent-dark: #8400ff;
    --footerbg: #440f76;
    --errorbg: #4d3131;
    --successbg: #3b5240;
    --home-gradient-bg: linear-gradient(20deg, black, #310f51, black);

    .logo-dark {
      display: unset;
    }
    .logo-light {
      display: none;
    }
  }

  color: var(--fgcolor);
  background-color: var(--bgcolor);
  max-width: 100vw;
  overflow-x: hidden;
  line-height: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  line-height: 2.5rem;
}

::-webkit-scrollbar {
  opacity: 0;
  height: 4px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #80808080;
}

a {
  color: var(--accent-main);
  font-weight: bold;
  text-decoration: none;
}
