* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  --bgcolor: whitesmoke;
  --fgcolor: #202020;
  --gradient-bg: linear-gradient(20deg, blueviolet, black);
  --navbar-offset: 80px;

  color: var(--fgcolor);
  background-color: var(--bgcolor);
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
