* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color 0.65s ease-in-out;

  &[role="button"] {
    cursor: pointer;
  }
}

body {
  --navbar-offset: 80px;

  --bgcolor: whitesmoke;
  --fgcolor: #202020;
  --accent-light: #bc93e1;
  --accent-main: #8a2be2;
  --accent-dark: #6a22ae;

  --gradient-bg: linear-gradient(20deg, #8a2be2, black);

  .logo-dark {
    display: none;
  }
  .logo-light {
    display: unset;
  }

  &[data-theme-dark] {
    color-scheme: dark;
    --bgcolor: #202020;
    --fgcolor: whitesmoke;
    --accent-light: #e5c9ff;
    --accent-main: #c78cff;
    --accent-dark: #8400ff;

    .logo-dark {
      display: unset;
    }
    .logo-light {
      display: none;
    }
  }

  color: var(--fgcolor);
  background-color: var(--bgcolor);
  max-width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  opacity: 0;
  height: 4px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #80808080;
}

a {
  color: var(--accent-main);
  font-weight: bold;
  text-decoration: none;
}
