.main {
  min-height: 100vh;
  color: var(--fgcolor);
  background: var(--home-gradient-bg);
  transition: color ease 0.8s;

  & > *:first-child {
    padding-top: var(--navbar-offset);
  }

  & > *:last-child {
    padding-bottom: var(--navbar-offset);
  }
}
