.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  img {
    border-radius: 50%;
    background-color: #a1d3ff80;
    height: 150px;
    width: auto;
  }

  p {
    font-weight: 500;
  }
}
