@mixin root() {
  width: 100%;
  min-width: 300px;
}

.container {
  @include root();
  height: 50vh;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  & > * {
    animation: scale 1s linear infinite;
  }
}

.text {
  text-align: center
}

.errorContainer {
  @include root();
  display: grid;
  gap: 1rem;
  align-content: center;
  justify-items: center;
  height: 70vh;
  .errorMessage {
    font-size: large;
    text-align: center;
    margin: 0;
  }
}

.spinner {
  display: flex;
  justify-content: center;

  & > * {
    animation: spin 0.5s ease-in-out infinite;
  }
}

@keyframes scale {
  from {
    transform: scale(1);
    opacity: 0.2;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0.2;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
    transform-origin: center;
  }

  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}
