.container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  padding-top: var(--navbar-offset);
  min-height: 100vh;
}
