.container {
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--bgcolor);
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
    text-align: center;
  }

  .featuredBlogs {
    overflow-x: scroll;
    list-style: none;
    padding: 2rem 1rem;
    display: flex;
    gap: 50px;

    li {
      width: 200px;
    }
  }
}
